.socialtree {
    width: 350px;
    margin: auto;
    margin-top: 50px;

    text-align: center;

}
.socialtree img {
    width: 200px;
}
.socialtree .menu {
    display: grid;
    justify-content: center;
}
.socialtree .menu-texto {
    text-align: center;
}
.socialtree .menu-link {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px black;
    position: relative;
    /* height: 50px; */
    border: 5px solid white;
}
.socialtree .menu-link a {
    display: flex;
}
.socialtree .menu-link:hover {
    transform: scale(0.99);
    background-color: rgb(228, 194, 144);
    transition: 0.2s ease-in-out;
}
.socialtree .menu-link:active {
    background-color: rgb(175, 150, 112);
}
.socialtree p {
    font-size: 15px;
    margin: auto;
    color: black;
}
.socialtree .menu-link img {
    width: 50px;
    border-radius: 20px;
    position: absolute;
}
.social {
    margin-top: 50px;
    font-size: 25px;
}
.social a {
    color: white
}
i:hover {
    transform: scale(1.05);
    color: rgb(240, 227, 208);
    transition: 0.2s ease-in-out;
}